# ignore all files starting with .
*

# track this file .gitignore (i.e. do NOT ignore it)
!.gitignore
!*.py
!*.txt

# ...even if they are in subdirectories
!*/

# ignore folders
PBI/

# track readme.md in the root (i.e. do NOT ignore it)
!README.md