# ignore all files and folder starting with .
*
# track this file .gitignore (i.e. do NOT ignore it)
!.gitignore
!*.py
!*.txt
!*.sql

# ...even if they are in subdirectories
!*/

# track readme.md in the root (i.e. do NOT ignore it)
!README.md